 

        <div id="GlobalFooter">
            <div class="footer" id="footer">
                <div id="gf_footer">
                    <div class="top">
                        <div class="copyright_vz">
                            <span>© 2017 Verizon</span>
                        </div>
                        <div class="fixer">
                            &nbsp;
                        </div>
                    </div>
                    <div class="gb">
                        <ul>
                            
                            <li>
                                <a name="&amp;lid=//gftr//corp//store locator" href="http://www.verizon.com/home/storelocator/">Store Locator</a>
                            </li>
                        </ul>
                        <div class="social_icon">
                            <a name="&amp;lid=//gftr//social//facebook" title="Verizon on Facebook" class="scbressprite scbresiconfb" href="http://www.facebook.com/VerizonFiOS" target="_blank"><span class="scbhidden">Verizon on Facebook</span></a> <a name="&amp;lid=//gftr//social//twitter" title="Verizon on Twitter" class="scbressprite scbresicontw" href="http://twitter.com/verizonfios" target="_blank"><span class="scbhidden">Verizon on Twitter</span></a><a name="&amp;lid=//gftr//social//youtube" title="Verizon on YouTube" class="scbressprite scbresiconyt" href="http://www.youtube.com/user/verizon/Verizon" target="_blank"><span class="scbhidden">Verizon on YouTube</span></a>
                        </div>
                        <div class="icons">
                            <a name="&amp;lid=//gftr//corp//bbb" title="Verizon Communications BBB Business Review" class="scbressprite scbbbb" style="display: inline-block;" href="http://www.bbb.org/new-york-city/business-reviews/telephone-companies/verizon-communications-in-new-york-ny-411/#bbbonlineclick" target="_blank"><span class="scbhidden">Verizon Communications Better Business Bureau Business Review</span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
     