
<div class="w_vz-loopqual w_vz-loopqual-top-anchor--js">
    <div class="content-wrapper clearfix w_vz-loopqual--content" style="height:calc(25vh - 50px)">
        <h2 class="w_vz-landing-header">Your home<br> is Fios-ready.</h2>
    </div>
    <div class="row fluid-grid">
        <ul class="tiny-block-grid-1 medium-block-grid-2">
            <li class="bg-white padding-all-small">
                <span>Please update your Street address for Better Experience or you can continue your Zip alone</span>
            </li>
        </ul>
        <ul class="tiny-block-grid-1 medium-block-grid-2">
            <li class="padding-all-small medium-block-grid-11">
                <div class="row fluid-grid tiny-collapse margin-vert-zero">
                    <div class="medium-12 columns">
                        <input address="" id="lraddress" placeholder="Street address" ng-model="vm.streetAddress" class="marketing">
                    </div>
                    <div class="medium-6 columns">
                        <input id="lrstate" placeholder="City" title="City" zipcode="" ng-model="vm.city" class="marketing">
                    </div>
                    <div class="medium-3 columns">
                        <input id="lrstate" placeholder="State" title="Zip code" zipcode="" ng-model="vm.state" class="marketing">
                    </div>
                    <div class="medium-3 columns">
                        <input id="lrzipcode" placeholder="Zip code" title="Zip code" zipcode="" ng-model="vm.zipcode" ng-change="vm.getZipInfo()" class="marketing">
                    </div>
                </div>

            </li>
        </ul>
    </div>
    <div class="row" style="">

        <a ng-click="vm.continue()" class="button text-center no-focus-effect no-icon">
            Continue
        </a>


    </div>
</div>
