<div class="row clearfix fluid-grid">
    <ul class="tiny-flex-grid-1 plan-selection" style="height: calc(100vh - 100px);">
        <li class="" ng-click="vm.select(0)">
            <div>New plans</div>
            <span class="w_vz-lineup-item-button vzlhicon vzlicon-right-arrow"></span>
        </li>
        <li><hr class="stretch" /></li>
        <li class="" ng-click="vm.select(1)">
            <div>Popular plan in your Community</div>
            <span class="w_vz-lineup-item-button vzlhicon vzlicon-right-arrow"></span>
        </li>
        <li><hr class="stretch" /></li>
        <li class="" ng-click="vm.select(2)">
            <div>Popular Across US</div>
            <span class="w_vz-lineup-item-button vzlhicon vzlicon-right-arrow"></span>
        </li>
        <li><hr class="stretch" /></li>
        <li class="" ng-click="vm.OnBuildBundleClick()">
            <div>Build ur own</div>
            <span class="w_vz-lineup-item-button vzlhicon vzlicon-right-arrow"></span>
        </li>
    </ul>
</div>
<style>
    .plan-selection li {
        cursor: pointer;
    }
</style>