<div class="row clearfix fluid-grid">
    <div id="plans">
        <ul class="tiny-flex-grid-1" style="justify-content:space-between;min-height:calc(100vh - 200px);">
            <li>
                <div class="row margin-bottom-medium">
                    <div class="columns padding-vert-zero">
                        <div style="text-align:center">
                            <!-- <h4 style="display:inline-block;margin-right:10px" ng-click="vm.goPrev()"> < </h4>-->
                            <h4 style="display:inline-block;margin-left:50px;margin-right:50px" class="">{{vm.slides[vm.index].text}}</h4>
                            <!--<h4 style="display:inline-block;margin-left:10px" ng-click="vm.goNext()"> > </h4>-->
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="swiper-container strech" data-swiper="plan" dat-swiper-options='{"autoHeight":true,"loop":false}'>
                    <div class="w_swiper">
                        <div style="text-align:center" class="swiper_item" ng-repeat="plan in vm.slides[vm.index].plans">
                            <div class="w_vz-lineup-item-inner margin-bottom-medium">
                                <h6 class="w_vz-lineup-name vzcolor">{{plan.planName}}</h6>

                            </div>
                            <div class="center">
                                <p class="margin-bottom-medium" style="padding:5px;" ng-bind-html="plan.Description"></p>
                                <p class="w_vz-lineup-price vzcolor text-xlarge " style="padding:5px;"><b> ${{plan.Price}}/mo</b></p>
                            </div>
                            <button class="button mw-medium margin-bottom-medium" ng-click="vm.chooseBundle()">Choose this Bundle</button>
                        </div>
                    </div>
                    <div class="swiper_button-prev" data-swiper-prev>
                    </div>
                    <div class="swiper_button-next" data-swiper-next>
                    </div>
                    <div class="swiper_pager"></div>
                </div>

            </li>

        </ul>

       

    </div>
    <div class="row container" style="margin-top:50px;display:none; text-align:center" id="equipment">
        <h6 class="margin-bottom-medium">Following is our most  recommended Equipment bundle. Wanna grab?</h6>
        <p class="text-xxlarge" ng-bind-html="vm.equipments[vm.equipIndex].Name"></p>
        <p class="vzcolor text-xxlarge"><b>${{vm.equipments[vm.equipIndex].Price}}</b></p>
        <div class="row">
            <button class="button mw-medium margin-bottom-medium" ng-click="vm.chooseEquipment()">Yes</button>
            <button class="button mw-medium margin-bottom-medium" ng-click="vm.rejectEquipment()">No</button>
            <button class="button mw-medium margin-bottom-medium" ng-click="vm.goBack()">Back</button>
        </div>

    </div>
    <div class="row" id="chosenBundle" style="margin-top:50px;display:none;text-align:center">
        <h6 class="margin-bottom-medium">You Have Chosen,</h6>
        <p class="text-xxlarge"><b ng-bind-html="vm.chosenBundleMessage"></b></p>
        <button class="button mw-medium margin-bottom-medium">Confirm</button>
        <button class="button mw-medium margin-bottom-medium" ng-click="vm.cancel()">Cancel</button>
    </div>
</div>


<div class="row fluid-grid" style="position:fixed;bottom:0;width:100%;">
    <a ng-click="vm.back()" class="button left secondary text-center no-focus-effect no-icon p-50">
        Back
    </a>
    <a ng-click="vm.reviewButtonClick()" class="button left text-center no-focus-effect no-icon p-50">
        Review
    </a>
</div>