$icomoon-font-path: "../core/vz-lighthouse/fonts" !default;

$icon-VZ_LH_icons-arrow-down: "\e901";
$icon-VZ_LH_icons_arrow_left: "\e902";
$icon-VZ_LH_icons_arrow_right: "\e904";
$icon-VZ_LH_icons_checkmark: "\e905";
$icon-VZ_LH_icons_chevron_down: "\e906";
$icon-VZ_LH_icons_chevron_left: "\e907";
$icon-VZ_LH_icons_chevron_right: "\e908";
$icon-VZ_LH_icons_close_x: "\e909";
$icon-VZ_LH_icons_magnifying_glass: "\e90a";
$icon-VZ_LH_icons_minus: "\e90b";
$icon-VZ_LH_icons_plus: "\e90c";
$icon-VZ_LH_icons_questionmark: "\e90d";
$icon-VZ_LH_icons_star: "\e90e";
