@import "variables";

@font-face {
  font-family: 'VZLighthouse';
  src:
    url('#{$icomoon-font-path}/VZLighthouse.ttf?isqbv7') format('truetype'),
    url('#{$icomoon-font-path}/VZLighthouse.woff?isqbv7') format('woff'),
    url('#{$icomoon-font-path}/VZLighthouse.svg?isqbv7#VZLighthouse') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vzlhicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VZLighthouse' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vzlicon-left-arrow {
  &:before {
    content: $icon-VZ_LH_icons_arrow_left;
  }
}

.vzlicon-right-arrow {
  &:before {
    content: $icon-VZ_LH_icons_arrow_right;
  }
}

.vzlicon-down-arrow {
   &:before {
      content: $icon-VZ_LH_icons-arrow-down;
  }
}

.vzlicon-plus {
  &:before {
    content: $icon-VZ_LH_icons_plus;
  }
}

.vzlicon-minus {
  &:before {
    content: $icon-VZ_LH_icons_minus;
  }
}

.text-chevron {
  &:before {
    font-size: 0.75rem !important;
    vertical-align: middle;
    line-height: 0rem !important;
  }
}

.vzlicon-chevron-right {
  &:before {
    content: $icon-VZ_LH_icons_chevron_right;
  }
}

.vzlhicon-close-x {
  &:before {
    content: $icon-VZ_LH_icons_close_x;
  }
}

.vzlicon-chevron-left {
  &:before {
    content: $icon-VZ_LH_icons_chevron_left;
  }
}

.vzlicon-chevron-down {
  &:before {
    content: $icon-VZ_LH_icons_chevron_down;
  }
}

.vzlicon-icon-search {
  &:before {
    content: $icon-VZ_LH_icons_magnifying_glass;
  }
}

