<div class="row padding-all-tiny">
    <div class="wrapper">
        <article>
            <rzslider rz-slider-model="slider_translate.minValue" rz-slider-high="slider_translate.maxValue" rz-slider-options="slider_translate.options"></rzslider>
        </article>
    </div>
</div>
<div class="row">
    <input type="radio" id="rdnTv" class="lh-checkbox" ng-model="vm.isTvOnly" />
    <label class="normal-weight" for="rdnTv" role="checkbox">TV Only</label>
    <input type="radio" id="rdnData" class="lh-checkbox" ng-model="vm.isDataOnly" />
    <label class="normal-weight" for="rdnData" role="checkbox">Data Only</label>
    <input type="radio" id="rdnBoth" class="lh-checkbox" ng-model="vm.isBoth" />
    <label class="normal-weight" for="rdnBoth" role="checkbox">Both</label>
</div>
<div class="row clearfix fluid-grid">

    <div class="swiper-container strech" style="max-height:calc(75vh - 40px); overflow-y:auto;">
        <div class="swiper_item margin-bottom-medium" ng-show="vm.isBoth" ng-repeat="plan in vm.plans" ng-if="plan.Price>= slider_translate.minValue && plan.Price<= slider_translate.maxValue">
            <div class="w_vz-lineup-item-inner ">
                <h4 class="w_vz-lineup-name vzcolor margin-bottom-medium">{{plan.Name}}</h4>
                <p ng-bind-html="plan.Description"></p>
                <p class="w_vz-lineup-price vzcolor">
                    <b>${{plan.Price}}/mo</b>
                </p>
                <div class="row">
                    <button class="button margin-bottom-medium no-icon p-70" ng-click="vm.chooseBundle()">Add add-on</button>
                </div>
            </div>
            <!--<div class="w_vz-lineup-item-bottom-container">
                <p class="bold w_vz-lineup-item-price">{{config.TotalPrice}}/mo</p>
                <ul ng-repeat="service in plan.Services">
                    <li><b>{{service.ServiceTitle}}</b></li>
                    <li>{{service.Plans[0].ServiceName}} {{service.Plans[0].ServiceNameUnit}}</li>
                </ul>
            </div>-->
        </div>

        <div ng-show="vm.isDataOnly" class="swiper_item" ng-click="vm.select()" ng-repeat="plan in vm.plans" ng-if="plan.Price>= slider_translate.minValue && plan.Price<= slider_translate.maxValue && plan.isDataOnly">
            <div class="w_vz-lineup-item-inner ">
                <h4 class="w_vz-lineup-name vzcolor margin-bottom-medium">{{plan.Name}}</h4>
                <p ng-bind-html="plan.Description"></p>
                <p class="w_vz-lineup-price vzcolor"><b>${{plan.Price}}/mo</b></p>
                <button class="button mw-medium margin-bottom-medium" ng-click="vm.chooseBundle()">Choose this Bundle</button>
            </div>
            <!--<div class="w_vz-lineup-item-bottom-container">
                <p class="bold w_vz-lineup-item-price">{{config.TotalPrice}}/mo</p>
                <ul ng-repeat="service in plan.Services">
                    <li><b>{{service.ServiceTitle}}</b></li>
                    <li>{{service.Plans[0].ServiceName}} {{service.Plans[0].ServiceNameUnit}}</li>
                </ul>
            </div>-->


        </div>


        <div ng-show="vm.isTvOnly" ng-click="vm.onPlanSelect(plan.BundleId)" class="swiper_item" ng-if="plan.Price>= slider_translate.minValue && plan.Price<= slider_translate.maxValue && plan.isTvOnly">
            ly
             c
            <div class="w_vz-lineup-item-inner ">
                <h4 class="w_vz-li
                <h4 class="w_vz-lineup-name vzcolor margin-bottom-medium">{{plan.Name}}</h4>
                <p ng-bind-html="plan.Description"></p>
                <p class="w_vz-lineup-price vzcolor"><b>${{plan.Price}}/mo</b></p>
                <button class="button mw-medium margin-bottom-medium" ng-click="vm.chooseBundle()">Choose this Bundle</button>
            </div>
            <!--<div class="w_vz-lineup-item-bottom-container">
                <p class="bold w_vz-lineup-item-price">{{config.TotalPrice}}/mo</p>
                <ul ng-repeat="service in plan.Services">
                    <li><b>{{service.ServiceTitle}}</b></li>
                    <li>{{service.Plans[0].ServiceName}} {{service.Plans[0].ServiceNameUnit}}</li>
                </ul>
            </div>-->
            <div class="w_vz-plan__channellineup">
                <span class="w_vz-plan__linupinner"> View channels <span class="text-chevron vzlhicon vzlicon-chevron-right"></span></span>
            </div>
        </div>
    </div>
    di
    cl
</div>
di
cl
<div class="row" ng-class="{'button-container--scrolled': true}" style="position:fixed;bottom:0;width:100%;">

    10
    li

    <a ng-click="checkoutButtonCLick()" ng-class="{disabled: vm.checkoutButton }" class="button text-center no-icon">
        Review
    </a>

</div>