<div class="row">
    <div class="wrapper">
        <article>
            <rzslider rz-slider-model="slider_translate.minValue" rz-slider-high="slider_translate.maxValue" rz-slider-options="slider_translate.options"></rzslider>
        </article>
    </div>
</div>
<div class="row">
    <input type="checkbox" class="lh-checkbox" ng-model="vm.isTvOnly" />
    <label class="normal-weight" role="checkbox">TV Only</label>
    <input type="checkbox" class="lh-checkbox" ng-model="vm.isDataOnly" />
    <label class="normal-weight" role="checkbox">Data Only</label>
    <input type="checkbox" class="lh-checkbox" ng-model="vm.isBoth" />
    <label class="normal-weight" role="checkbox">Both</label>
</div>
<!--<div class="row clearfix fluid-grid">
    <ul class="w_vz-lineup tiny-block-grid-1 medium-block-grid-1 large-block-grid-3">
        <li ng-show="vm.isBoth" class="w_vz-lineup-item w_vz-lineup-item--tall" ng-repeat="plan in vm.plans" ng-if="plan.price>= slider_translate.minValue && plan.price<= slider_translate.minValue">
        </li>

        <li ng-show="vm.isDataOnly" class="w_vz-lineup-item w_vz-lineup-item--tall" ng-repeat="plan in vm.plans" ng-if="plan.price>= slider_translate.minValue && plan.price<= slider_translate.minValue && plan.isDataOnly">
        </li>


        <li ng-show="vm.isTvOnly" class="w_vz-lineup-item w_vz-lineup-item--tall" ng-repeat="plan in vm.plans" ng-if="plan.price>= slider_translate.minValue && plan.price<= slider_translate.minValue && plan.isTvOnly">
        </li>
    </ul>
</div>-->
<div class="row">

</div>