<div class="row">
    <div class="wrapper">
        <article>
            <rzslider rz-slider-model="slider_translate.minValue" rz-slider-high="slider_translate.maxValue" rz-slider-options="slider_translate.options"></rzslider>
        </article>
    </div>
</div>
<div class="row clearfix wrapper">
    <button class="button mw-medium margin-horiz-medium" ng-click="vm.setTV()">TV only</button>
    <button class="button mw-medium margin-horiz-medium" ng-click="vm.setData()">Data only</button>
    <button class="button mw-medium margin-horiz-medium" ng-click="vm.setBoth()">All</button>


</div>
<h2>{{vm.filterName}}</h2>
<div class="row clearfix fluid-grid wrapper">
    <ul class="w_vz-lineup tiny-block-grid-1 medium-block-grid-1 large-block-grid-3">
        <li ng-show="vm.isBoth" ng-click="vm.onPlanSelect(plan.BundleId,plan)" class="w_vz-lineup-item w_vz-lineup-item--tall" ng-class="plan.isSelected ? selected : ''" ng-repeat="plan in vm.plans" ng-if="plan.Price>= slider_translate.minValue && plan.Price<= slider_translate.maxValue">
            <div class="w_vz-lineup-item-inner">
                <h3 class="w_vz-lineup-name">{{plan.Name}}</h3>
                <p>{{plan.Description}}</p>
                <p class="w_vz-lineup-price">${{plan.Price}}/mo</p>
            </div>
            <!--<div class="w_vz-lineup-item-bottom-container">
                <p class="bold w_vz-lineup-item-price">{{plan.Price}}/mo</p>
                <ul ng-repeat="service in plan.Services">
                    <li><b>{{service.ServiceTitle}}</b></li>
                    <li>{{service.Plans[0].ServiceName}} {{service.Plans[0].ServiceNameUnit}}</li>
                </ul>
            </div>-->
            <div class="w_vz-plan__channellineup" ng-if="!plan.isDataOnly">
                <span class="w_vz-plan__linupinner"> View channels <span class="text-chevron vzlhicon vzlicon-chevron-right"></span></span>
            </div>
        </li>

        <li ng-show="vm.isDataOnly" ng-click="vm.onPlanSelect(plan.BundleId,plan)" class="w_vz-lineup-item w_vz-lineup-item--tall" ng-repeat="plan in vm.plans track by $index" ng-if="plan.Price>= slider_translate.minValue && plan.Price<= slider_translate.maxValue && plan.isDataOnly">
            <div class="w_vz-lineup-item-inner">
                <h3 class="w_vz-lineup-name">{{plan.Name}}</h3>
                <p>{{plan.Description}}</p>
                <p class="w_vz-lineup-price">${{plan.Price}}/mo</p>
            </div>
            <!--<div class="w_vz-lineup-item-bottom-container">
                <p class="bold w_vz-lineup-item-price">{{plan.Price}}/mo</p>
                <ul ng-repeat="service in plan.Services">
                    <li><b>{{service.ServiceTitle}}</b></li>
                    <li>{{service.Plans[0].ServiceName}} {{service.Plans[0].ServiceNameUnit}}</li>
                </ul>
            </div>-->
          

        </li>


        <li ng-show="vm.isTvOnly" ng-click="vm.onPlanSelect(plan.BundleId,plan)" class="w_vz-lineup-item w_vz-lineup-item--tall" ng-repeat="plan in vm.plans track by $index" ng-if="plan.Price>= slider_translate.minValue && plan.Price<= slider_translate.maxValue && plan.isTvOnly">
            <div class="w_vz-lineup-item-inner">
                <h3 class="w_vz-lineup-name">{{plan.Name}}</h3>
                <p>{{plan.Description}}</p>
                <p class="w_vz-lineup-price">${{plan.Price}}/mo</p>
            </div>
            <!--<div class="w_vz-lineup-item-bottom-container">
                <p class="bold w_vz-lineup-item-price">{{plan.Price}}/mo</p>
                <ul ng-repeat="service in plan.Services">
                    <li><b>{{service.ServiceTitle}}</b></li>
                    <li>{{service.Plans[0].ServiceName}} {{service.Plans[0].ServiceNameUnit}}</li>
                </ul>
            </div>-->
            <div class="w_vz-plan__channellineup">
                <span class="w_vz-plan__linupinner"> View channels <span class="text-chevron vzlhicon vzlicon-chevron-right"></span></span>
            </div>
        </li>
    </ul>
</div>
<div class="w_vz-workflow-button-container row fluid-grid hide" ng-class="{'button-container--scrolled': true}">
    <div class="w_vz-workflow--button w_vz-workflow--button-checkout">
        <a ng-click="checkoutButtonCLick()" ng-class="{disabled: vm.checkoutButton }" class="button text-center">
            <span>Review lineup</span>
        </a>
    </div>
</div>