<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Lighthouse</title>
    <meta name="description" content="">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.2/angular-sanitize.js"></script>
   
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="//respframework.verizon.com/vzrf/2-20-0/stylesheets/complete/vzrf.css" rel="stylesheet" />
    <script src="//respframework.verizon.com/vzrf/2-20-0/js/complete/vzrf.js"></script>
    <script src="~/core/vzrf-extend/js/vzrfinit.js"></script>
    <!-- build:css(.) styles/vendor.css -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="~/main.css">
    @*<link rel="stylesheet" href="~/content/bootstrap.css">*@
    <link href="~/Components/Styles/rzSilder.css" rel="stylesheet" />
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>*@
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="~/app.js"></script>

    <script src="~/Components/header/header.controller.js"></script>
    <script src="~/Components/header/header.directive.js"></script>
    <script src="~/Components/footer/footer.controller.js"></script>
    <script src="~/Components/footer/footer.directive.js"></script>
    <script src="~/Components/landing/landing.controller.js"></script>
    <script src="~/Components/recommended/recommended.controller.js"></script>
    <script src="~/Components/recommended/recommendedPlan.controller.js"></script>
    <script src="~/Components/shared/vzService.js"></script>
    <script src="~/Components/build-plan/build-plan.controller.js"></script>
    <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
    <link href="~/Components/Styles/Footer.css" rel="stylesheet"></link>
    <style type="text/css">
        .selected {
            background-color:antiquewhite
        }
        .vzcolor {
            color:#cd040b;
        }
    </style>
</head>

<body ng-app="vzMach" class="vzrf">

    <div class="container vzlh-container" style="height:calc(100vh);">
        <div class="main">
            <vz-loader></vz-loader>
            <div class="w_vz-notifications-container">
                <vz-notification message="data"></vz-notification>
            </div>
            <div class="w_vz-header-container">
                <vz-header message="data"></vz-header>
            </div>
           
            @RenderBody()
        </div>
        <div>
            <vz-footer message="data"></vz-footer>
        </div>
    </div>

</body>
</html>
